<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
   <meta charset="UTF-8" />
   <title>this is covid relief page</title>
</head>
<body>
  <section>
  <iframe class="embed-responsive-item" display:block align:middle frameborder="0" style="width: 100%; height: 90%; position: absolute" src = "https://external.sprinklr.com/insights/explorer/dashboard/601b9e214c7a6b689d76f493/tab/0?id=DASHBOARD_601b9e214c7a6b689d76f493&utm_source=LINKEDIN&utm_medium=LINKEDIN_COMPANY&utm_term=734&utm_content=100042584_100002020017320&utm_campaign=734"></iframe>
  <img src="../img/banner.jpg" align:left alt="Simply Easy Learning" width="200"
         height="80">
  </section>
  
</body>
</html>